body {
    font-family: Tahoma, Helvetica, Arial, sans-serif;
}

.top {
    border-bottom: 1px solid #eee;
    display: block;
    margin-bottom: 33px;
}

.top a {
    background: #FFF;
    padding-right: 10px;
    position: relative;
    top: 8px;
}

.syntaxhighlighter {
    padding: .5em 0;
}
