.Zebra_TransForm_Checkbox,
.Zebra_TransForm_Checkbox_Focus,
.Zebra_TransForm_Checkbox_Tick,
.Zebra_TransForm_Checkbox_Disabled,
.Zebra_TransForm_Radio,
.Zebra_TransForm_Radio_Focus,
.Zebra_TransForm_Radio_Dot,
.Zebra_TransForm_Radio_Disabled,
.Zebra_TransForm_Arrow {
    background-image: url('sprite.png');
    background-repeat: no-repeat;
}

.Zebra_TransForm_Checkbox,
.Zebra_TransForm_Radio {
    position: absolute;
    width: 19px;
    height: 19px;
    cursor: pointer;
}

.Zebra_TransForm_Checkbox {
    background-position: left top;
}

.Zebra_TransForm_Radio {
    background-position: left -19px;
}

/*  CHECK BOXES */

.Zebra_TransForm_Checkbox_Focus {
    background-position: -19px top;
}

.Zebra_TransForm_Checkbox_Tick {
    width: 11px;
    height: 11px;
    margin: 4px 0 0 4px !important;
    background-position: -57px -76px; /* outside the boundries as we don't want to show anything */
}

.Zebra_TransForm_Checkbox_Checked .Zebra_TransForm_Checkbox_Tick {
    background-position: -3px -42px;
}

.Zebra_TransForm_Checkbox_Disabled,
.Zebra_TransForm_Checkbox_Checked_Disabled {
    background-position: -38px top;
    cursor: auto;
}

.Zebra_TransForm_Checkbox_Checked_Disabled .Zebra_TransForm_Checkbox_Tick {
    background-position: -22px -42px;
}

/*  RADIO BUTTONS */

.Zebra_TransForm_Radio_Focus {
    background-position: -19px -19px;
}

.Zebra_TransForm_Radio_Dot {
    width: 7px;
    height: 7px;
    margin: 6px 0 0 6px !important;
    background-position: -57px -76px; /* outside the boundries as we don't want to show anything */
}

.Zebra_TransForm_Radio_Checked .Zebra_TransForm_Radio_Dot {
    background-position: -6px -63px;
}

.Zebra_TransForm_Radio_Disabled,
.Zebra_TransForm_Radio_Checked_Disabled {
    background-position: -38px -19px;
    cursor: auto;
}

.Zebra_TransForm_Radio_Checked_Disabled .Zebra_TransForm_Radio_Dot {
    background-position: -24px -63px;
}

/*  SELECT BOXES */

.Zebra_TransForm_Select {
    position: absolute;
    border: 1px solid #CCC;
    cursor: default;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    z-index: 19;
}

.Zebra_TransForm_Select_Focus {
    *background-color: #F6F6F6;
    -moz-box-shadow: 0 0 3px #CCC;
    -webkit-box-shadow: 0 0 3px #CCC;
    box-shadow: 0 0 3px #CCC;

}

.Zebra_TransForm_Select_Disabled {
    border: 1px solid #DEDEDE;
}

.Zebra_TransForm_Select .Zebra_TransForm_Arrow {
    position: absolute;
    right: 0;
    top: 0;
    width: 17px;
    height: 18px;
    background-color: #FFF;
    background-position: -58px top;
    z-index: 19;
}

.Zebra_TransForm_Select_Focus .Zebra_TransForm_Arrow {
    background-color: #EEE;
    background-position: -58px -19px;
}

.Zebra_TransForm_Select_Disabled .Zebra_TransForm_Arrow {
    background-position: -58px -38px;
}

.Zebra_TransForm_Select .Zebra_TransForm_Text {
    position: absolute;
    color: #222;
    cursor: default;
    z-index: 18;
}

/* LABELS FOR DISABLED CONTROLS */

.Zebra_TransForm_Label_Disabled,
.Zebra_TransForm_Select_Disabled .Zebra_TransForm_Text {
    color: #DEDEDE;
}

/*  LISTS */
.Zebra_TransForm_List {
    border: 1px solid #DEDEDE;
}

select { font-family: inherit }